$colours: #F6D258 #EFCEC5 #D1AF94 #97D5E0 #88B14B #EF562D #D13076 #5587A2 #5C7148 #0C4C8A #7539A9 #FF954D;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  font-family: 'Oswald', 'Helvetica', 'sans-serif';
  font-size: 16px;
  background: #333;
}

* {
  box-sizing: border-box;
}

.overlay {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stages {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;

  flex-flow: row wrap;

  .stage {
    position: relative;
    display: flex;
    padding: 5px;
    text-align: center;
    transition: 0.5s all;
    align-items: center;
    justify-content: center;

    @media(min-width: 769px) {
      flex-direction: column;
      width: calc(100% / 6);
      height: 50%;
      font-size: 28px;
      .stage-title, .icons {
        padding: 0 5px 10px;
      }
      .counter {
        font-size: 44px;
      }
    }

    @media(max-width: 768px) {
      flex-direction: row;
      width: 100%;
      height: initial;
      font-size: 19px;
      .stage-title, .icons {
        padding: 0 5px;
      }
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 0%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      content: '';
      animation: progress 40s linear;
      animation-fill-mode: forwards;
    }

    .stage-title {
      position: relative;
      z-index: 10;
    }

    .icons {
      display: flex;
      z-index: 10;
      .fa {
        padding: 0 5px;
        position: relative;
      }
      .timer {
        opacity: 1;
        &.off {
          opacity: 0.3;
        }
      }
      .done, .rest {
        opacity: 0.3;
        &.on {
          opacity: 1;
        }
      }
    }

    .counter {
      overflow: hidden;
      height: 1em;
      line-height: 1em;

      &:after {
        position: relative;
        content: '30\A 29\A 28\A 27\A 26\A 25\A 24\A 23\A 22\A 21\A 20\A 19\A 18\A 17\A 16\A 15\A 14\A 13\A 12\A 11\A 10\A 9\A 8\A 7\A 6\A 5\A 4\A 3\A 2\A 1\A 10\A 9\A 8\A 7\A 6\A 5\A 4\A 3\A 2\A 1\A';
        white-space: pre;
        animation: counter steps(40);
        animation-duration: 40s;
        animation-play-state: running;
        animation-fill-mode: forwards;
      }
    }

    @each $colour in $colours {
      $i: index($colours, $colour);
      &.stage-#{$i} {
        background-color: $colour;
        &:before, .counter:after {
          animation-delay: #{40 * $i - 40}s;
        }
      }
    }
  }
}

.info {
  display: flex;
  height: 30px;
  background: #333;

  align-items: center;

  h1 {
    flex: 1;
    margin: 0;
    padding-left: 10px;
    font-size: 16px;
  }

  .buttons {
    display: flex;
    padding-right: 5px;
    width: 100px;

    justify-content: flex-end;

    i {
      padding: 0 10px;
      font-size: 20px;
      &:hover {
        color: lightgrey;
        cursor: pointer;
      }
    }

    a {
      color: #FFF;
      text-decoration: none;
      line-height: 1em;
    }
  }
}

@keyframes counter {
  from {
    top: 0;
  }

  to {
    top: -40em;
  }
}

@keyframes progress {
  0% {
    width: 0;
  }

  75% {
    background-color: rgba(0,0,0,0.5);
  }

  76% {
    background-color: rgba(red, 0.5);
  }

  99% {
    background-color: rgba(red, 0.5);
  }

  100% {
    width: 100%;
    background-color: rgba(green, 0.75);
  }
}
